<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <title>Apply</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Job Portal</a>
                <div>
                    <a href="javascript:history.back()" class="btn btn-secondary">← Back</a>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </nav>
        <div class="container mt-5 text-center">
            <h1 class="mb-4">Job Applied</h1>
            {% for application in applications %}
                <div class="card p-3 shadow mb-3">
                    <h3>{{application.job.title}}</h3>
                    <p>Job ID: {{application.job_id}}</p>
                    <p>Location: {{application.job.location}}</p>
                    <p>Salary: {{application.job.salary}}</p>
                    <p>Applied On: {{application.applied_on}}</p>
                    {% if application.status == "Accepted" %}
                    <p class="text-success">Status: ✅ Accepted</p>
                    {% elif application.status == "Rejected" %}
                        <p class="text-danger">Status: ❌ Rejected</p>
                    {% else %}
                        <p class="text-warning">Status: ⏳ Pending</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>        
    </body>
</html>